* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: Calibri;
	word-spacing: 2px;
	text-align: justify;
}
.container {
	width: 90%;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.heading {
	padding-top: 10px;
}
.name {
	border-bottom: 1px solid #2098f5;
	flex-basis: 50%;
}
.name h2 {
	padding-bottom: 10px;
	font-size: 35px;
}
.name h5 {
	font-size: 16px;
}
.photo {
	text-align: right;
	flex-basis: 50%;
	border-bottom: 1px solid #2098f5;
}
.photo img {
	width: 130px;
	height: 130px;
}
.object {
	padding-top: 15px;
}
.object h2 {
	font-size: 22px;
	text-decoration: underline;
	margin-bottom: 12px;
}
.object p {
	font-size: 20px;
	margin-bottom: 10px;
	text-indent: 40px;
}
.edu-table {
	flex-basis: 100%;
}
.edu-table h2 {
	font-size: 22px;
	text-decoration: underline;
	margin-bottom: 20px;
}
.table-1 th, td {
	border: 1px solid black;
}
.table-1 {
	width: 90%;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 15px;
}
.table-head h3{
	font-size: 18px;
	padding: 10px 5px 10px 5px;
	text-align: center;
}
.table-content-1 {
	padding: 15px 10px 15px 10px;
}
.table-content-1 p {
	font-size: 20px;
	margin-bottom: 5px;
}
.table-2 {
	width: 90%;
	border-collapse: collapse;
	margin: auto;
}
.skill {
	flex-basis: 100%;
	margin-bottom: 8px;
}
.skill h2 {
	text-decoration: underline;
	font-size: 22px;
	margin-bottom: 20px;
}
.skill p {
	font-size: 20px;
	text-indent: 50px;
	margin-bottom: 15px;
}
.skill-mark {
	padding-bottom: 8px;
}
.skill p:before {
	content: ' \25A0';
}
.per {
	flex-basis: 100%;
	margin-bottom: 30px;
}
.per h2 {
	font-size: 22px;
	text-decoration: underline;
	margin-bottom: 20px;
}
.per-menu {
	font-size: 20px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.per-details {
	font-size: 20px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sig {
	border-top: 1px solid #2098f5;
	width: 100%;
}
.sig h3 {
	text-indent: 10px;
	font-size: 18px;
	text-align: justify;
	padding-top: 10px;
	margin-bottom: 20px;
}
.sig img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
	border-bottom: 1px solid #000000;
}
