* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: Calibri;
	word-spacing: 2px;
}

/* navbar starts */

.nav-menu {
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
}
.nav-item {
	color: #fcad03;
	padding-left: 20px;
	padding-right: 20px;
}
.nav-menu-name {
	color: #cccccc;
}

.nav-menu-name:hover {
   color: #008000;
  
}
/* navbar ends*/
.home-page {	
	width: 100%;
  	height: 100vh;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
}
.home-page:before {
	background-image: url("../img/light-image1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.6;
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
.home-page h1 {
	position: relative;
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 30px;
	color: #622569;
}
.home-page h4 {
	font-size: 20px;
	font-weight: 550;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 3px;
	margin-bottom: 50px;
}
.home-page-button {
	font-weight: 800;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 3px;
	border: 1px solid #b28564;
	padding: 10px 20px 10px 20px;
	margin: 10px 50px 10px 50px;
	color: #bf8040;
}
.home-page-button:hover {
	border: 1px solid #000000;
	background: #c6dceb;
}

/* main service starts */

.services {
	margin-top: 40px;
	margin-bottom: 120px;
}
.services-head {
	text-align: center;
	margin-bottom: 100px;
}
.services-head h1 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
	word-spacing: 4px;
	text-transform: uppercase;
	position: relative;
	color: #000000;
}
.services-head h1:after {
	content: "";
	width: 150px;
	height: 1px;
    background: #e39c02;
	position: absolute;
	left: 478px;
    bottom: -7px;
}
.services-head h6 {
	font-size: 17px;
	font-weight: 300;
}
.services-icon {
	font-size: 25px;
	font-weight: 300;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	margin: auto;
	transition: all .8s ease-in;
	margin-bottom: 50px;
	background: #ffffff;
	color: #004d00;	
}
.services-icon a {
	color: inherit;
}
.services-content:hover .services-icon{
	background: #d9d9d9;
	cursor: pointer;
	color: ;
}
.services-text h5{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
	color: #000000;
	text-transform: uppercase;
}
.services-text p {
	font-size: 16px;
	text-align: center;
}
.services-text p:first-letter {
	font-size: 30px;
}

/* main service ends */


/* portfolio starts */

.portfolio {
	margin-bottom: 100px;
}

.popular-products-head h1 {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 50px;
	word-spacing: 4px;
	text-transform: uppercase;
	color: #5f483a;
	position: relative;
}
.popular-products-head h1:after {
	content: "";
	width: 110px;
	height: 1px;
	background: #e39c02;
	left: 510px;
	bottom: -6px;
	position: absolute;
}
.popular-products-head h6 {
	font-size: 17px;
	font-weight: 300;
	text-align: center;
}
.portfolio-card {
	transition: all .8s ease;
	box-shadow: 2px 6px 6px 2px #cccccc;
	margin: auto;
	flex-basis: 75%;
}
.portfolio-card:hover {
    box-shadow: 3px 4px 4px 1px #5f483a;
    transform: scale(1.01);
}

/* skills */

.skills {
	margin-bottom: 100px;
}
.skills-head h1 {
	margin-bottom: 100px;
}
.skills-images {
	display: flex;
}
.image-flex {
	flex-basis: auto;
	margin: auto;
	width: 85px;
	height: 85px;
}

/* work process */

/* main service starts */

.work-process {
	margin-top: 40px;
	margin-bottom: 120px;
}
.work-process-head {
	text-align: center;
	margin-bottom: 100px;
}
.work-process-head h1 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
	word-spacing: 4px;
	text-transform: uppercase;
	position: relative;
	color: #000000;
}
.work-process-head h1:after {
	content: "";
	width: 150px;
	height: 1px;
    background: #e39c02;
	position: absolute;
	left: 478px;
    bottom: -7px;
}
.work-process-icon {
	font-size: 25px;
	font-weight: 300;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	margin: auto;
	transition: all .8s ease-in;
	margin-bottom: 50px;
	color: #000000;	
}
.work-process-icon a {
	color: inherit;
}
.work-process-content:hover .services-icon{
	background: #d9d9d9;
	cursor: pointer;
	color: ;
}
.work-process-text h5{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
	color: #000000;
	text-transform: uppercase;
}
.work-process-text p {
	font-size: 16px;
	text-align: center;
}
.work-process-text p:first-letter {
	font-size: 30px;
}
.work-process-number{
    border-top: 1px solid #f2f2f2;
    position: relative;
    padding: 30px;
}
.work-process-serial-number {
    background-color: #444;
    border: 5px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    left: 50%;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: -30px;
    transform: translateX(-50%);
    width: 60px;
}

.work-process-icon img {
	display: inline-block;
	margin: auto;
	width: 85px;
	height: 85px;
}

/* footer */

.footer-section {
	height: 50px;
	line-height: 50px;
}
.footer-text p {
	color: #ffffff;
	text-align: center;
}