* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: Calibri;
	letter-spacing: 1px;
	word-spacing: 1px;
}

/* navbar section starts */

.nav-menu-name {
	font-weight: 550;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #333333;
	padding-left: 20px;
	padding-right: 20px;
}
.nav-menu-name:hover {
   color: #2098f5;
   transition-delay: 0.2s;
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
}
.jump-process {
  display: block;
  height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
}

/* home section starts */

.home-page {	
	width: 100%;
  	height: 100vh;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
	margin-bottom: 100px;
	background-color: #beedf3;
}
.home-page h1 {
	font-family: 'Helvetica Neue', sans-serif;
	position: relative;
	font-size: 55px;
	font-weight: 600;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 75px;
	color: #737373;
	word-spacing: 3px;
	letter-spacing: 2px;
}
.name {
	color: #000000;
}
.home-page h4 {
	font-size: 18px;
	font-weight: 550;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 3px;
	letter-spacing: 2px;
	margin-bottom: 75px;
	color: #2098f5;
}
.home-page-resume-button {
	background: #333333;
	color: #ffffff;
	border: 1px solid #595959;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 600;
	position: relative;
	padding: 7px 20px 7px 20px;
	margin: 10px 50px 10px 50px;
}
.home-page-resume-button:hover {
	background: #ffffff;
	color: #333333;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}
.home-page-contact-button {
	background: #ffffff;
	color: #333333;
	border: 1px solid #595959;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 600;
	position: relative;
	padding: 7px 20px 7px 20px;
	margin: 10px 45px 10px 45px;	
}
.home-page-contact-button:hover {
	background: #333333;
	color: #ffffff;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}
.home-icon {
	text-align: center;
	position: relative;
	margin-top: 85px;
}
.home-icon-linkedin {
	font-size: 21px;
	margin-right: -14px;
	color: #0077b5;
}
.home-icon-linkedin:hover {
	color: #262626;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}
.home-icon-github {
	font-size: 21px;
	margin-right: -14px;
	color: #000000;
}
.home-icon-github:hover {
	color: #262626;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}
.home-icon-skype {
	font-size: 21px;
	color: #00aae7;
	
}
.home-icon-skype:hover {
	color: #262626;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}

/* portfolio section starts */

.portfolio {
	margin-bottom: 100px;
}
.portfolio-head h1 {
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight:500;
	letter-spacing: 2px;
	color: #4d4d4d;
	margin-bottom: 100px;
	position: relative;
}
.portfolio-head h1:after {
	content: "";
	width: 100px;
	height: 2px;
    background: #2098f5;
	position: absolute;
	left: 570px;
    bottom: -7px;
}
.card-content h5 {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}
.card-link {
	font-weight: 600;
	color: #6dbcf8;
}
.card-link:hover {
	color: #0b8ff4;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
}
.portfolio-card {
	box-shadow: 6px 6px 6px 6px #d9d9d9;
	margin: auto;
	flex-basis: 80%;
}
.portfolio-card:hover{
    box-shadow: 20px 20px 40px 20px #b6ddfb inset;
}

/* services section starts */


.services {
	margin-bottom: 100px;
	position: relative;
}
.services:before {
	content: "";
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.2;
}
.services-head h1 {
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight:500;
	letter-spacing: 2px;
	color: #4d4d4d;
	position: relative;
	margin-bottom: 130px;
}
.services-head h1:after {
	content: "";
	width: 100px;
	height: 2px;
    background: #2098f5;
	position: absolute;
	left: 669px;
    bottom: -7px;
}
.services-icon {
	font-size: 21px;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	margin: auto;
	transition: all .8s ease-in;
	color: #4d4d4d;
	position: relative;
	background: #d9d9d9;
	margin-bottom: 60px;
}
.services-content-1:hover .services-icon{
	background: #9dd1fb;
	color: #ffffff;
	transition-delay: 0.2s;
	position: relative;
}
.services-content-2:hover .services-icon{
	background: #85c5fa;
	color: #ffffff;
	transition-delay: 0.2s;
	position: relative;
}
.services-content-3:hover .services-icon{
	background: #85c5fa;
	color: #ffffff;
	transition-delay: 0.2s;
	position: relative;
}
.services-text h5{
	font-size: 16px;
	font-weight: 550;
	text-align: center;
	color: #6f5444;
	text-transform: uppercase;
	word-spacing: 5px;
	position: relative;
	margin-bottom: 40px;
}
.services-text p {
	font-size: 16px;
	text-align: center;
	position: relative;
}

/* skills section starts */

.skills {
	margin-bottom: 110px;
}
.skills-head h1 {
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight:500;
	letter-spacing: 2px;
	color: #4d4d4d;
	position: relative;
	margin-bottom: 80px;
}
.skills-head h1:after {
	content: "";
	width: 100px;
	height: 2px;
    background: #2098f5;
	position: absolute;
	left: 655px;
    bottom: -7px;
}
.skills-images {
	width: 100%;
	margin: auto;
	height: 55vh;
    background-image: linear-gradient( 0deg, #e0cee4, transparent 80%),radial-gradient(at 50% 660px, #f5eff6, #cee9fd 89%);
}
.skills-image-flex {
	flex-basis: auto;
	margin: auto;
	width: 68px;
	height: 68px;
}

/* work process section starts */

.work-process {
	margin-bottom: 100px;
	position: relative;
}
.work-process:before {
	content: "";
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.2;
}
.work-process-head h1 {
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight:500;
	letter-spacing: 2px;
	color: #4d4d4d;
	position: relative;
	margin-bottom: 120px;
}
.work-process-head h1:after {
	content: "";
	width: 100px;
	height: 2px;
    background: #2098f5;
	position: absolute;
	left: 702px;
    bottom: -7px;
}
.work-process-content {
	margin-bottom: 50px;
	position: relative;
}
.work-process-icon {
	font-size: 27px;
	text-align: center;
	margin-bottom: 90px;
	color: #4d4d4d;	
}
.work-process-number{
    margin-bottom: 60px;
    position: relative;
    padding: 20px;
}
.work-process-text h5{
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.work-process-serial-number {
    background-color: #d9d9d9;
    border-radius: 40px;
    color: #3ca5f6;
    font-size: 20px;
    font-weight: 700;
	width: 65px;
    height: 65px;
	line-height: 65px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: -30px;
    transform: translateX(-50%);
}
.work-process-icon img {
	display: inline-block;
	margin: auto;
	width: 85px;
	height: 85px;
}
/*
.work-process-serial-number-1 {
    background-color: #444;
    border: 5px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    left: 50%;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: -30px;
    transform: translateX(-50%);
    width: 60px;
}

.work-process-serial-number-1 {
	position: relative;
	display: inline-block;
}
.work-process-serial-number-1:after {
	content: "";
	width: 150px;
	height: 1px;
    background: #e39c02;
	position: absolute;
	left: -50px;
    bottom: 0px;
	top: 22px;
}
*/

/* contact section starts */

.contact-head h1 {
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #000000;
	margin-bottom: 70px;
	position: relative;
}
.contact-head h1:after {
	content: "";
	width: 100px;
	height: 2px;
    background: #2098f5;
	position: absolute;
	left: 577px;
    bottom: -7px;
}
.submit-button {
	background: #ffffff;
	color: #000000;
	border: 1px solid #000000;
	text-transform: uppercase;
	padding: 7px 23px 7px 23px;
	font-size: 14px;
	word-spacing: 3px;
	font-weight: 600;
}
.submit-button:hover {
	background: #000000;
	color: #ffffff;
	transition-delay: 0.2s;
	
}
.form-control:focus {
        border-color: #000000;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.contact-email h5 {
	color: #f24c40;
	text-transform: uppercase;
	text-align: right;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}
.contact-email p {
	text-align: right;
	letter-spacing: 2px;
}
.contact-phone h5 {
	color: #f24c40;
	text-transform: uppercase;
	text-align: right;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}
.contact-phone p {
	text-align: right;
	letter-spacing: 2px;
}
.contact-address h5 {
	color: #f24c40;
	text-transform: uppercase;
	text-align: right;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}
.contact-address p {
	text-align: right;
	letter-spacing: 2px;

}
/*.contact-icon {
	text-align: right;
	font-size: 25px;
	text-decoration: none;
	color: #60493b;
}
.contact-icon a {
	color: inherit;
}
*/

.contact-icon {
	text-align: right;
	position: relative;
}
.contact-icon-linkedin {
	font-size: 21px;
	margin-right: -20px;
	color: #0077b5;
}
.contact-icon-linkedin:hover {
	color: #262626;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}
.contact-icon-github {
	font-size: 21px;
	margin-right: -20px;
	color: #000000;
}
.contact-icon-github:hover {
	color: #262626;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}
.contact-icon-skype {
	font-size: 21px;
	color: #00aae7;
	margin-right: -14px;
}
.contact-icon-skype:hover {
	color: #262626;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}

/* footer section starts */

.footer-section {
	height: 50px;
	line-height: 50px;
}
.footer-text p {
	color: #ffffff;
	text-align: center;
}